@model PBL3.Models.Common.AccountModel
<div class='company-content'>
    <div class='company-page text-break' style="padding-top:60px;">
        <ul class='nav bg-white pt-1 mt-3' style="border-radius: 3px;">
            <li class='nav-item m-0 py-0 px-3 p-md-0'>
                <a data-controller="utm-tracking" class="nav-link me-3 active" style="-webkit-text-stroke-width:thin; color:black;" asp-controller="Student" asp-action="EditProfile">Chỉnh sửa thông tin</a>
            </li>
            <li class='nav-item m-0 py-0 px-3 p-md-0'>
                <a data-controller="utm-tracking" class="nav-link me-3 active" style="border-bottom: solid;-webkit-text-stroke-width: medium;border-color: cornflowerblue;">Đổi mật khẩu</a>
            </li>
        </ul>
        <div class='company-page__container justify-content-sm-center'>
            <div class='company-page__left mt-1'>
                <div class='panel-body' style="background:white;padding: 10px 50px 10px 50px;border-radius: 5px;min-height:400px;">
                    @using (Html.BeginForm("EditAccountPassword", "Student", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        if (ViewBag.Accepted != null && ViewBag.Accepted != " ")
                        {
                            <div class="form-group" style="color: white;background: green;border-radius: 3px;padding:7px;">
                                @ViewBag.Accepted
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)<p class="text-danger" style="display:contents"> *</p>
                            <div style="display: -webkit-box">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @autocomplete = "off", @id = "myInput1" })
                                <i class='fa-solid fa-eye-slash icon' onclick="myFunction1()" id="eye" style="margin-left:-50px;margin-top:10px;"></i>
                            </div>
                            <p class="text-danger" style="display:contents">@ViewBag.CheckPassword</p>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)<p class="text-danger" style="display:contents"> *</p>
                            <div style="display: -webkit-box">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @type = "password", @autocomplete = "off", @id = "myInput2" })
                                <i class='fa-solid fa-eye-slash icon' onclick="myFunction2()" id="eye2" style="margin-left:-50px;margin-top:10px;"></i>
                            </div>
                            <p class="text-danger" style="display:contents">@ViewBag.CheckOldNewPassword</p>
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword2)<p class="text-danger" style="display:contents"> *</p>
                            @Html.PasswordFor(m => m.NewPassword2, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.NewPassword2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Đổi mật khẩu" style="width:100%;" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction1() {
        var x = document.getElementById("myInput1");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        var y = document.getElementById("eye");
        if (y.className === "fa-solid fa-eye-slash icon") {
            y.className = "fa-solid fa-eye icon";
        } else {
            y.className = "fa-solid fa-eye-slash icon";
        }
    }
    function myFunction2() {
        var x = document.getElementById("myInput2");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        var y = document.getElementById("eye2");
        if (y.className === "fa-solid fa-eye-slash icon") {
            y.className = "fa-solid fa-eye icon";
        } else {
            y.className = "fa-solid fa-eye-slash icon";
        }
    }
</script>
